CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode

software/bootloader
software/bootloader-prefix
software/config
software/esp-idf
software/app-flash_args
software/bootloader-flash_args
software/config.env
software/flash_app_args

software/flash_args
software/flash_args.in
software/flash_bootloader_args
software/flash_project_args
software/flasher_args.json
software/kconfigs_projbuild.in
software/kconfigs.in
software/ldgen_libraries
software/ldgen_libraries.in
software/partition-table-flash_args
software/project_description.json
software/sdkconfig
